.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home Button Styling */
.home-button {
  background-color: #4CAF50;  /* Green background */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;  /* Add margin for positioning */
  border-radius: 5px;
}

.home-button:hover {
  background-color: #45a049;  /* Slightly darker green on hover */
}

/* Other buttons in the navbar */
.link {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
}

.link:hover {
  background-color: #0056b3; /* Darker blue for hover */
}

/* Logout button */
.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}

/* Centered button group for all pages */
.button-group {
  display: flex;
  justify-content: center;  /* Centers the buttons horizontally */
  margin-bottom: 20px;
}

.button-group button {
  margin: 0 10px; /* Ensures there's space between buttons */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add individual button hover effects */
.button-group button:hover {
  opacity: 0.8; /* Adds a slight hover effect */
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #282c34;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Employee Create and Employee List Page Styling */
.employee-create-container, .employee-list-container, .employee-edit-container, .dashboard-container {
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form Input Styling */
input {
  padding: 10px;
  margin: 10px 0;
  width: 250px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

/* Form Button Styling */
form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}

